{% extends 'base.html.twig' %}

{% block title %}Log in{% endblock %}

{% block body %}
<div class="container">
    <form method="post">
    <br>
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <br>
        <h1 class="h3 mb-3 font-weight-normal">Login</h1>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" placeholder="Email ..." class="form-control" autocomplete="email" required autofocus>
        <br>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Mot de passe ..." autocomplete="current-password" required>
        
        <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
        >
        <br>
        <button class="btn btn-lg btn-primary" type="submit">
            Login
        </button>
    </form>
</div>
{% endblock %}
