<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Tucal{% endblock %}</title>
        <link rel="icon" href="https://tucal-tunisie.com/assets/images/brand/logo.png">
        <link rel="stylesheet" href="/css/bootstrap.css">
        

    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="nav-link active" href="/"><img src="https://tucal-tunisie.com/assets/images/brand/logo.png" width="100%"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                <a class="nav-link active" href="#">
                    <span class="visually-hidden">(current)</span>
                </a>
                </li>
            </ul>
            {% if app.user %}
            <form class="d-flex">
                <button class="btn btn-info my-2 my-sm-0" type="submit">Charger</button> &nbsp;
            </form>
            <form class="d-flex" action="/logout">
                <button class="btn btn-danger my-2 my-sm-0" type="submit">Deconexion</button>
            </form>
            {% endif %}
            
            </div>
        </div>
        </nav>
        {% block body %}{% endblock %}
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.bundle.min.js"></script>
        <script src="js/prism.js" ></script>

        </script>
    </body>
</html>
